*.lst
*.o
*.zip
*.a
*.d
*.eep
*.elf
*.hex
*.lss
*.map
*.sym
*.eep
*.tlog
*.log
*.exe
*.obj
*.pdb
*.idb
*.opensdf
*.sdf
*.suo
*.user
*.ipch
*.apk
*.manifest
*.res
*.ilk
*.lastbuildstate
*.cache
*.rc
*.unsuccessfulbuild
*.so
*.dll
*.exp
*.lib
*.dll
_ReSharper.*
ipch
*.pdf
