*.lst
*.o
*.zip
*.a
*.d
/code/c/configs/Chromashade/*.eep
*.elf
*.hex
*.lss
*.map
*.sym
*.eep
*.tlog
/code/c/configs/WinOPDI/Debug/*.log
/code/c/configs/WinOPDI/Debug/*.exe
/code/c/configs/WinOPDI/Debug/*.obj
*.pdb
*.idb
*.opensdf
*.sdf
*.suo
*.user
*.ipch
*.apk
*.manifest
*.res
*.ilk
*.lastbuildstate
*.cache
*.rc
