/XML
/bin
/build
/cmake
/contrib
/CppUnit
/doc
/Foundation
/JSON
/lib
/Net
/patches
/Util
/*.cmd
/*.com
/VERSION
/CHANGELOG
/CMakeLists.txt
/components
/configure
/CONTRIBUTORS
/DLLVersion.rc
/libversion
/LICENSE
/Makefile
/MANIFEST
/NEWS
/README
